*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(background.jpg);
    background-size: 100% 740px;

}
.container{
    width: 300px;
    height: 388px;
    text-align: center;
    color: black;
    background-color: #967259;
    margin-left: 36%;
    margin-top: 7%;
    border: solid #38220f 6px;
    border-radius: 30px;
}
.container .text{
    position: relative;
    top: 7%;
}

.inp{
    border: none;
    background-color: #967259;
    border-bottom: 3px solid #6F4E37;
    width: 250px;
    font-size: 20px;
    margin-top: 10px;
    outline: none;
    color: black;
}
::placeholder{
    color: black;
}
p{
    margin-top: 10px;
    font-size: 20px;
}

.text button{
    background-color: #6F4E37;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
}
button:hover{
    border: 3px solid #6F4E37;
    color: black;
    font-size: 20px;
    background-color: #dbc1ac;
    cursor: pointer;
    
}
a{
    color: #38220f;
    text-decoration: none;
}
.link p{
    /* border: 2px solid #38220f; */
    background-color: #6F4E37;
    /* margin: 10px; */
    font-size: 18px;
    padding: 7px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
}
.link p:hover{
    border: 3px solid #6F4E37;
    font-size: 18px;
    padding: 4px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    background-color: #dbc1ac;
    
}

